<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875343869249-lpvb1a48qdjge1c3edq3g5hivl46v5s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875343869249-lpvb1a48qdjge1c3edq3g5hivl46v5s5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLP7iX4KiE9WbsySSgFhM68p1R_Q5fRW8</string>
	<key>GCM_SENDER_ID</key>
	<string>875343869249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatbox</string>
	<key>PROJECT_ID</key>
	<string>chatbox-c12c8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbox-c12c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875343869249:ios:4367b64be0e6d0781e1dc0</string>
	<key>DATABASE_URL</key>
	<string>https://chatbox-c12c8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>